.order-detail-box{
    width: 100%;
    height: 300px;
    background-color: #EEF7FC;
    border-radius: 20px;
    padding: 25px 50px;
    margin-top: 50px;
}

.col-3, .col-2{
    /* outline: 1px solid red; */
}

.detail-title{
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid black;
}

.detail-content{
    font-size: 20px;
    padding: 15px 0;
    border-bottom: 1px solid #b2b6b8;
}