html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
/* Css reset */
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ====== 主體 ==========================*/

/* 結帳進度條 */
.checkline-box {
  width: 100%;
  margin: 50px 0;
  font-size: 22px;
}
.checkline-item {
  width: 62px;
}

/* 1是深色正在進行的圓圈 */
.checkline-circle-1 {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #00a0f0;
  color: white;
  text-align: center;
  line-height: 62px;
  margin-bottom: 10px;
}

/* 2是淺色尚未進行的圓圈 */
.checkline-circle-2 {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #aad7ee;
  color: white;
  text-align: center;
  line-height: 62px;
  margin-bottom: 10px;
}

.checkline-line {
  /* position: absolute; */
  width: 186px;
  height: 2px;
  background-color: #aad7ee;
  margin-top: 31px; /* 線要在圓心的一半 62/2=31 */
}



/* 購物車欄位的最外框 */
.cart-box {
  width: 100%;
  border: 1px solid #ecebeb;
  margin-bottom: 30px;
}

/* 購物車欄位 */
.cart-title {
  width: 100%;
  height: 70px;
  background-color: #ecebeb;
  font-size: 30px;
  line-height: 70px;
  padding-left: 25px; /* 依照設計搞，先統一pl-25 */
}

/* 購物車次欄位 */
.cart-subtitle {
  border-bottom: 1px solid #ecebeb;
  padding: 25px 10px;
  height: 65px;
  font-size: 20px;
}

.product-img {
  width: 150px;
  height: 150px;
  background-color: #00a0f0;
  margin-right: 10px;
}

/* 購物車商品欄位 */
.cart-column {
  border-bottom: 1px solid #ecebeb;
  padding: 25px 10px;
  height: 190px;
  font-size: 20px;
}

.product-description {
  max-width: 274px; /* 454-160-20(padding) */
  font-size: 20px;
  line-height: 20px;
}

.plus-minus-btn {
  width: 100%;
  height: 33px;
  outline: 1px solid black;
}

.minus {
  width: 33px;
  outline: 1px solid black;
  align-items: center;
  justify-content: center;
}

.number {
  width: 60%;
  line-height: 33px;
}
.plus {
  width: 33px;
  height: 33px;
  outline: 1px solid black;
  align-items: center;
  justify-content: center;
}

/* 全站優惠 */
.AllStore-discount-box {
  padding: 10px 25px;
  font-size: 18px;
}
.column-1 {
  height: 30px;
}
.column-2 {
  height: 40px;
}
.color-box {
  width: 160px;
  height: 40px;
  background-color: #d7f1ff;
  text-align: center;
  line-height: 40px;
  border-radius: 10px;
  margin-right: 15px;
}

/* 送貨及付款方式 */
.delivery-payment-box {
  height: 430px;
  outline: 1px solid #ecebeb;
}

/* 共用的title大小 */
.delivery-payment-title,
.summary-title {
  width: 100%;
  height: 70px;
  background-color: #ecebeb;
  font-size: 30px;
  line-height: 70px;
  padding-left: 25px;
}

.dp-select-area {
  padding: 15px 25px;
  font-size: 20px;
}
.subtitle {
  font-size: 20px;
  margin-bottom: 10px;
}

select {
  width: 100%;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #aaa8a8;
  padding: 0 15px;
  font-size: 20px;
  margin-bottom: 20px;
}

/* 訂單明細 */
.summary-box {
  position: relative;
  height: 430px;
  width: 100%;
  outline: 1px solid #ecebeb;
}

.summary-detail-box {
  width: 100%;
  padding: 25px;
}
.summary-detail {
  width: 100%;
  font-size: 20px;
  line-height: 55px;
}

.total-number{
  font-size: 22px;
  font-weight: bold;
  color: #19526e;
  margin: 10px 0;
}
.border {
  margin-top: 40px;
  border-bottom: 1px solid black;
}

.checkout-box{
  padding: 0 25px;
}
.checkout-btn {
  height: 60px;
  background-color: #00a0f0;
  border-radius: 10px;
  font-size: 24px;
  color: #ffffff;
  line-height: 60px;
  font-weight: bolder;
}

/* =========== 手機版 ================ */

/* 購物車 */
@media screen and (max-width: 376px) {
  
/* 結帳進度條 */
.checkline-box {
  width: 100%;
  margin: 30px 0;
  font-size: 16px;
}
.checkline-item {
  width: 50px;
}

/* 1是深色正在進行的圓圈 */
.checkline-circle-1 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00a0f0;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px;
}

/* 2是淺色尚未進行的圓圈 */
.checkline-circle-2 {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #aad7ee;
  color: white;
  text-align: center;
  line-height: 50px;
  margin-bottom: 10px;
}

.checkline-line {
  /* position: absolute; */
  width: 75px;
  height: 2px;
  background-color: #aad7ee;
  margin-top: 25px;
}
  /* 購物車 */
  .cart-title {
    width: 100%;
    height: 45px;
    background-color: #ecebeb;
    font-size: 18px;
    line-height: 45px;
    padding-left: 15px;
  }
  .cart-item {
    padding: 15px;
    font-size: 14px;
    border-bottom: 1px solid #eae8e8;
  }

  .product-img {
    width: 80px;
    height: 80px;
  }
  .product-description {
    height: 60px;
    font-size: 14px;
  }

  /* 增減按鈕 */
  .plus-minus-btn {
    width: 60%;
    height: 25px;
    outline: 1px solid black;
  }

  .minus {
    width: 25px;
    outline: 1px solid black;
    align-items: center;
    justify-content: center;
  }

  .number {
    width: 80%;
    line-height: 25px;
  }
  .plus {
    width: 25px;
    height: 25px;
    outline: 1px solid black;
    align-items: center;
    justify-content: center;
  }

  /* 全站優惠 */
  .AllStore-discount-box {
    padding: 10px 15px;
    font-size: 14px;
  }
  .color-box {
    width: 100px;
    height: 25px;
    background-color: #d7f1ff;
    text-align: center;
    line-height: 25px;
    border-radius: 5px;
    margin-right: 15px;
  }
  .column-1 {
    height: 20px;
  }
  .column-2 {
    height: 40px;
  }

/* 送貨及付款方式 */
.delivery-payment-box {
  height: auto;
  outline: 1px solid #ecebeb;
  margin-bottom: 30px;
}

/* 共用的title大小 */
.delivery-payment-title,
.summary-title {
  width: 100%;
  height: 45px;
  background-color: #ecebeb;
  font-size: 18px;
  line-height: 45px;
  padding-left: 15px;
}

.dp-select-area {
  padding: 15px;
  font-size: 16px;
}
.subtitle {
  font-size: 16px;
  margin-bottom: 10px;
}

/* 選擇框大小 */
.dp-select {
  width: 100%;
  height: 55px;
  margin-bottom: 15px;
}

select {
  width: 100%;
  height: 55px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #aaa8a8;
  padding: 0 15px;
  font-size: 16px;
  margin-bottom: 10px;
}


/* 訂單明細 */
.summary-box {
  width: 100%;
  height: auto;
  outline: 1px solid #ecebeb;
}

.summary-detail-box {
  width: 100%;
  padding: 15px;
  margin-bottom: 10px;
}
.summary-detail {
  width: 100%;
  font-size: 18px;
  line-height: 40px;
}

.border {
  margin-top: 20px;
  border-bottom: 1px solid black;
}

.total-number{
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
  color: #19526e;
}

.checkout-box{
  padding: 15px;
}
.checkout-btn {
  position: static;
  width: 100%;
  height: 50px;
  background-color: #00a0f0;
  border-radius: 10px;
  font-size: 22px;
  color: #ffffff;
  line-height: 50px;
  font-weight: bolder;
}


}